@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
}

.slider_container{
    width:100%;
    position:relative;
    overflow:hidden;
}

.slider_item{
    width:100%;
    height:100vh;
    display:none;
    align-items:center;
    position:relative;
}

.slider_item.active{
    display:flex;
    animation:fade 1s;
}

@keyframes fade{
    from{opacity:0}
    to{opacity:1}
}

.slider_item::before{
    content:"";
    position:absolute;
    inset:0;
    background-size:cover;
    background-position:center;
    filter:brightness(60%);
}

.slider_item:nth-child(1)::before{background-image:url(images/blackg.avif);}
.slider_item:nth-child(2)::before{background-image:url(images/girl.avif);}
.slider_item:nth-child(3)::before{background-image:url(images/white.avif);}

.slider_containent{
    z-index:2;
    color:#fff;
    padding:0 20px;
}

.slide_button{
    display:inline-block;
    margin-top:20px;
    padding:10px 25px;
    border:2px solid #fff;
    color:#fff;
    text-decoration:none;
}

.slider_nav{
    position:absolute;
    top:50%;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:0 20px;
}

.slider_nav span{
    color:#fff;
    font-size:40px;
    cursor:pointer;
}


.modal{
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.8);
    display:none;
    align-items:center;
    justify-content:center;
    z-index:999;
}

.modal_content{
    background:#fff;
    max-width:600px;
    padding:20px;
    position:relative;
}

.modal_content img{
    width:100%;
    margin-bottom:15px;
}

.close{
    position:absolute;
    top:10px;
    right:15px;
    font-size:25px;
    cursor:pointer;
}
