* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #7b011e;
  color: #fff;
}
header nav {
  background-color: #758695;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
header nav h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
header nav form {
  display: flex;
  justify-content: center;
}
form input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  border-radius: 4px;
  padding: 10px;
  height: 50px;
  border: none;
  font-size: 15px;
}
form input[type="submit"],
form button {
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
}
form button {
  background-color: #7b011e;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
form button:hover,
.recipe button:hover,
.recipe-close-Btn:hover {
  background-color: #ff5c5c;
}
.recipe_container {
  text-align: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 40px;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  place-items: center;
}
.recipe {
  background-color: #758695;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(223, 223, 100, 0.1),
    -5px -5px 10px rgba(184, 230, 98, 0.5);
  cursor: pointer;
  max-width: 360px;
  transition: transforn 0.3s ease-in-out;
}
.recipe:hover {
  transform: scale(1.02);
}
.recipe img {
  height: 300px;
}
.recipe h2 {
  font-size: 4px;
  margin-block: 5px;
}
.recipe p {
  font-size: 20px;
  color: #504d4e;
  margin: 5px 0;
}
.recipe span {
  font-weight: 600;
}
.recipe button {
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 18px auto;
  background-color: #7b011e;
  color: #fff;
}
/* ------------------------- Recipe Details ----------------------------------- */
.recipe-details {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-color: #694c2f;
  border-radius: 12px;
  width: 40%;
  height: 60%;
  font-size: 20px;
  transition: all 0.5s ease-in-out;
  overflow: scroll;
}
.recipe-details-content {
  padding: 30px;
}

.recipeName {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 12px;
}
.ingredientList {
  margin-top: 10px;
  margin-left: 20px;
}
.recipeName,
.ingredientList,
.recipeInstructions {
  margin: 20px;
}
.recipeInstructions p {
  line-height: 30px;
  white-space: pre-line;
  margin: 12px;
}
.recipe-close-Btn {
  border: none;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  background-color: #7b011e;
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ---- adding scrollbar  to recipe details popup --------------------- */
.recipe-details::-webkit-scrollbar {
  width: 10px;
}
.recipe-details::-webkit-scrollbar-thumb {
  background-color: #b5b5ba;
  border-radius: 16px;
  --webkit-border-radius: 16px;
}
body::-webkit-scrollbar {
  width: 16px;
}
body::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
}
body::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

/*----------------------- responsive ------------- */
@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
  }
  header nav form {
    width: 80%;
    margin-top: 20px;
  }
}
