@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Mono&family=Oswald:wght@200..700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body{
    background-color: black;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 35rem;
    /* height: 15rem; */
    padding: 10px;
    border-radius: 6px;
    font-size: 30px;
    background-color: white;
    text-align: center;
}
button{
    margin-top: 6px;
    width: 100%;
    display: block;
    background-color: black;
    border: none;
    font-size: 36px;
    border-radius: 5px;
    color: wheat;
}